<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.MovieAddressMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.MovieAddress" >
    <id column="addressid" property="addressid" jdbcType="INTEGER" />
    <result column="addressname" property="addressname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    addressid, addressname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_address
    where addressid = #{addressid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_address
    where addressid = #{addressid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ytc.model.MovieAddress" >
    insert into m_address (addressid, addressname)
    values (#{addressid,jdbcType=INTEGER}, #{addressname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ytc.model.MovieAddress" >
    insert into m_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        addressid,
      </if>
      <if test="addressname != null" >
        addressname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="addressname != null" >
        #{addressname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ytc.model.MovieAddress" >
    update m_address
    <set >
      <if test="addressname != null" >
        addressname = #{addressname,jdbcType=VARCHAR},
      </if>
    </set>
    where addressid = #{addressid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytc.model.MovieAddress" >
    update m_address
    set addressname = #{addressname,jdbcType=VARCHAR}
    where addressid = #{addressid,jdbcType=INTEGER}
  </update>
</mapper>